


.hmt-register{
    background-color:  #9b111e;
    border-radius: 30px;
    border-color: #9b111e;
    color: white;
    padding:1px;
    margin-left:1px ;
}




.nav-link{
    font-size: 18px;
    color: black;
    padding: 10px;
    
}

.container2{
    margin-top: -20px;
}

.carousel-inner img {
    width: 100%;
    height: 30%;
  }
  .carousel-inner{
    width: 100%;
    height: 30%;
  }

  .hmt-container3{
      margin-top: -78px;
  }

  .navbar-expand-lg{
      z-index: 1;
      height: 50px;
      background-color: #dcdcdc;
  }


  .nav-item:focus{
      outline:none;
  }