
  <div class="container">

    <nav class="navbar navbar-expand-lg navbar-light bg-light"  style="padding-top: 10px;">
           
      <a class="navbar-brand" href="#"><img src="/assets/images/helpmetutors-logo.png" width="250" height="50" class="d-inline-block align-top" alt="" loading="lazy">
      </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/about">About</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" href="#">Courses</a>
            </li>
             -->
            <li class="nav-item">
              <a class="nav-link hmt-contact" href="#">Registered Tutors </a>
            <li class="nav-item">
              <a class="nav-link hmt-contact" href="#">Tutor Jobs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link hmt-contact" routerLink="/contact">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link hmt-contact" routerLink="/login">Login</a>
            </li>
            <li class="nav-item" style="color: white;">
              <a style="color: white; outline: none;" class="nav-link hmt-register" routerLink="/register">Register for free</a>
            </li>
          </ul>
         
        </div>
      </nav>
</div>

