<!-- Footer -->
<section id="footer">
    <div class="container-fluid container1">
    <div class="container">
        <div class="row text-center text-xs-center text-sm-left text-md-left">
            <div class="col-xs-12 col-sm-3 col-md-3">
                <h5 class= "footer-header">About Helpmetutors</h5>
                <ul class="list-unstyled quick-links">
<!--                     
                    <li><img src="/assets/images/helpmetutors-logo.png" width="200" height="30" class="d-inline-block align-top" alt="" loading="lazy">
                    </li> -->
                    <li class="footer-about">We arrange teachers for parents who search for suitable tutors as per their requirement. Alongside, we provide students to school teachers who want to teach tuition during their leisure time. Apart from this, we guide students in online homework help.</li>
                    
                </ul>

            </div>
            <div class="col-xs-12 col-sm-3 col-md-3">
                <h5 class= "footer-header">Information</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="/faqs"><i class="fa fa-angle-double-right"></i>FAQs</a></li>
                    <li><a href="/registeredtutors"><i class="fa fa-angle-double-right"></i>Registered Tutors</a></li>
                    <li><a href="/tutorjobs"><i class="fa fa-angle-double-right"></i>Tutor Jobs</a></li>
                    <li><a href="/"><i class="fa fa-angle-double-right"></i>Testimonials</a></li>
                </ul>

            </div>
            <div class="col-xs-12 col-sm-3 col-md-3">
                
                <h5 class= "footer-header">Helpful links</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="/disclaimer"><i class="fa fa-angle-double-right"></i>Disclaimer</a></li>
                    <li><a href="/privacypolicy"><i class="fa fa-angle-double-right"></i>Privacy policy</a></li>
                    <li><a href="/contact"><i class="fa fa-angle-double-right"></i>Support</a></li>
                    <li><a href="/termsandconditions"><i class="fa fa-angle-double-right"></i>Terms and Conditions</a></li>
                </ul>


            </div>
            <div class="col-xs-12 col-sm-3 col-md-3">
                
                <h5 class= "footer-header">Subscribe more info</h5><br>
                
                    <ul class="list-unstyled quick-links">
                        <li>
                                <input type="text" class="hmt-email text-left" placeholder="Email "><br><br>
                                <button style="border-radius: 20px;" mat-raised-button color="warn">Subscribe</button>
                                <!-- <button class="btn  btn-btn-primary" type="button">Subscribe</button> -->
                           
                        </li>
                    </ul>
            </div>
        </div>
    </div>
    </div>
    <div class="container-fluid container2">
        <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 btn btn-social-icon btn-facebook btn-rounded">
                <ul class="list-unstyled list-inline social text-center">

                    <li class="list-inline-item"><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    <li class="list-inline-item"><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
                    <li class="list-inline-item"><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                    <li class="list-inline-item"><a href="#" target="_blank"><i class="fa fa-envelope"></i></a></li>
                    <li class="list-inline-item"><a href="#" target="_blank"><i class="fa fa-youtube"></i></a></li>
                </ul>
            </div>
            <hr>
        </div>	
        <div class="row hmt-footer3">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white" id="hmt-text">
                <p><u>Helpmetutors&nbsp;</u> arrange teachers for parents who search for suitable tutors as per their requirement.<br> Alongside, we provide students to school teachers who want to teach tuition during their leisure time.Apart from this, we guide students in online homework help.</p>
                <p class="h6">Helpmetutors 2017 © All right Reversed.</p>
            </div>
            <hr>
        </div>	

    </div>
</div>
</section>
<!-- ./Footer -->