<div class="container" style="margin-bottom: 10px;">
    <div class="" id="accordion">
        <div class="faqHeader">General questions</div>
        <div class="card ">
            <div class="card-header">
                <h4 class="card-header">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">What is helpmetutors.com?</a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="card-block">
                    <strong>Helpmetutors.com</strong> is an interface where parents, students and home guides can without much of a stretch interface with one another. We give qualified private home guides to assist your youngster with studies and helping them perform better in tests. We are a gathering of unlimited home/online teachers and fulfilled parents/students across india for various scholastic and expert subjects. 
                </div>
            </div>
        </div>
        <div class="faqHeader">Parents</div>
        <div class="card ">
            <div class="card-header">
                <h4 class="card-header">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">How would i utilize this website to locate a home/online teacher?</a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="card-block">
                    Simply post your requirement in request a demo form. After submitting your need, we will assist you with finding a home/online teacher.
                </div>
            </div>
        </div>
        <div class="card ">
            <div class="card-header">
                <h4 class="card-header">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">I am a Parent searching for a home coach for my kid. How might I get in touch with you?</a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
                <div class="card-block">
                    Getting in contact with us is extremely straightforward! Simply post your educational cost necessities here and one of our colleague will connect with you before long in regards to your educational cost prerequisites. On the other hand, you can likewise get in touch with us anytime to examine your educational cost instructor necessities.
                </div>
            </div>
        </div>
        <div class="card ">
            <div class="card-header">
                <h4 class="card-header">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">What is the expense of contracting a hometutor?</a>
                </h4>
            </div>
            <div id="collapseFive" class="panel-collapse collapse">
                <div class="card-block">
                    Helpmetutors always try to arrange the teacher in your budget.
                </div>
            </div>
        </div>
        <div class="card ">
            <div class="card-header">
                <h4 class="card-header">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">Do I have to pay something to post my requirement at Helpmetutors.com?</a>
                </h4>
            </div>
            <div id="collapseSix" class="panel-collapse collapse">
                <div class="card-block">
                    No! You don’t have to pay anything to post your educational cost prerequisite.
                </div>
            </div>
        </div>
        <div class="card ">
            <div class="card-header">
                <h4 class="card-header">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEight">Will I get a demo class before I submit for full time educational cost?</a>
                </h4>
            </div>
            <div id="collapseEight" class="panel-collapse collapse">
                <div class="card-block">
                    Yes, Once we have finalized with an ideal home/online trainer for you or your child that matches your educational cost prerequisite, we will organize a one-day free demo session with the guide at your favoured area.
                </div>
            </div>
        </div>
        <div class="card ">
            <div class="card-header">
                <h4 class="card-header">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseNine">Where does the home tuition occur?</a>
                </h4>
            </div>
            <div id="collapseNine" class="panel-collapse collapse">
                <div class="card-block">
                    If it is a home tuition then face to face ,mentoring will happen in the parent’s home. On the off chance that the individual being coached is under 18, it is unequivocally suggested that a parent/gatekeeper is available during the mentoring sessions for security reasons. 
                </div>
            </div>
        </div>
        <div class="card ">
            <div class="card-header">
                <h4 class="card-header">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseNine">Do I have to pay the education cost ahead of time?</a>
                </h4>
            </div>
            <div id="collapseNine" class="panel-collapse collapse">
                <div class="card-block">
                    We take first month half as advance payment after the first class and the teacher is paid other hlaf after the first month completion. From the second month, full payment can be paid to the teacher directly after every month completes.
                </div>
            </div>
        </div>
        <div class="card ">
            <div class="card-header">
                <h4 class="card-header">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseNine">How would i be able to make the installment of starting month education cost?</a>
                </h4>
            </div>
            <div id="collapseNine" class="panel-collapse collapse">
                <div class="card-block">
                    Initial month charge can be paid utilizing 2 different ways:
                    <ul>
                        <li>->You can pay the charge online on helpmetutors payment gateway or other online transaction medium(google pay, paytm, phonepe).</li>
                        <li>->We can send our assortment official at your place to gather the charge from you.</li>                   
                     </ul>
                </div>
            </div>
        </div>
        <div class="card ">
            <div class="card-header">
                <h4 class="card-header">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseNine">What on the off chance that I don’t like for the preliminary class?</a>
                </h4>
            </div>
            <div id="collapseNine" class="panel-collapse collapse">
                <div class="card-block">
                    If incase you like care for the preliminary class, we will organize another home coach for you that matches your educational cost necessity.
                </div>
            </div>
        </div>
        <div class="card ">
            <div class="card-header">
                <h4 class="card-header">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseNine">Can I have an ID evidence of home/online teacher for confirmation reason?</a>
                </h4>
            </div>
            <div id="collapseNine" class="panel-collapse collapse">
                <div class="card-block">
                    Helpmetutors.com consistently prescribe parents and students to request a legitimate ID and address confirmation of the instructor before employing them.
                </div>
            </div>
        </div>
        <div class="faqHeader">Tutor</div>
        <div class="card ">
            <div class="card-header">
                <h4 class="card-header">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">How can a teacher register in helpmetutors.com?</a>
                </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse">
                <div class="card-block">
                    Click here to regsiter as a teacher and our executives will inform you about the tuitions teacher requirements that best matches your aptitude, good area, class and subjects. 
                </div>
            </div>
        </div>
        <div class="card ">
            <div class="card-header">
                <h4 class="card-header">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">Is teacher registration free?</a>
                </h4>
            </div>
            <div id="collapseSeven" class="panel-collapse collapse">
                <div class="card-block">
                    Yes, the teacher registration is free.
                </div>
            </div>
        </div>
        <div class="card ">
            <div class="card-header">
                <h4 class="card-header">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">As a free part, will I get any educational cost enquiry?</a>
                </h4>
            </div>
            <div id="collapseSeven" class="panel-collapse collapse">
                <div class="card-block">
                    Yes, as a free part, you will have the option to get educational cost work requests relying on the accessibility. You can likewise go after the educational cost positions that are recorded in our site
                </div>
            </div>
        </div>
        <div class="card ">
            <div class="card-header">
                <h4 class="card-header">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">Will I get tuitions fee requests through online?</a>
                </h4>
            </div>
            <div id="collapseSeven" class="panel-collapse collapse">
                <div class="card-block">
                    Yes, ensure you have confirmed online payment services and versatile number with us so you begin accepting educational cost work requests from us.
                </div>
            </div>
        </div>
        <div class="card ">
            <div class="card-header">
                <h4 class="card-header">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">What on the off chance that I am not chosen in demo class?</a>
                </h4>
            </div>
            <div id="collapseSeven" class="panel-collapse collapse">
                <div class="card-block">
                    There are different employments sitting tight for you. Check and Apply on most recent educational cost employments here. Be that as it may, for whenever before going to give demo, ensure you are decidedly ready and have updated the themes that you are going to instruct.
                </div>
            </div>
        </div>
        <div class="card ">
            <div class="card-header">
                <h4 class="card-header">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">When and how I get paid for educational cost?</a>
                </h4>
            </div>
            <div id="collapseSeven" class="panel-collapse collapse">
                <div class="card-block">
                    You will be paid after the month to month educational cost sessions. We will gather the primary month education costs ahead of time from guardians and will offer it to you after fulfillment of your first month educational cost (for the underlying month as it were).
                </div>
            </div>
        </div>
    </div>
</div>
