<div class="container " style="margin-top: 10px; margin-bottom: 10px;">
    <div class="card">
        <h1 style="margin-top: 10px; text-align: center; color: #9b111e; font-size: x-large; font-weight: 500;">Terms and Conditions</h1>
        <div class="card-body">
            <h5 class="card-title">Welcome to Helpmetutors (“Company”, “we”, “our”, “us”)!</h5>
            <p class="card-text">These Terms of use (“Terms”, “Terms of Service”) govern your use of our website located at helpmetutors.com (together or individually “Service”) operated by Helpmetutors.<br/>
                Our Privacy Policy also governs your use of our Service and explains how we collect, safeguard and disclose information that results from your use of our web pages.<br/>
                
                Your agreement with us includes these Terms and our Privacy Policy (“Agreements”). You acknowledge that you have read and understood Agreements, and agree to be bound of them.<br/>
                
                If you do not agree with (or cannot comply with) Agreements, then you may not use the Service, but please let us know by emailing at info@helpmetutors.com so we can try to find a solution. These Terms apply to all visitors, users and others who wish to access or use Service.</p>
          </div>
          <div class="card-body">
            <h5 class="card-title">Communications</h5>
            <p class="card-text">By using our Service, you agree to subscribe to newsletters, marketing or promotional materials and other information we may send. However, you may opt out of receiving any, or all, of these communications from us by following the unsubscribe link or by emailing at info@helpmetutors.com.</p>
          </div>
          <div class="card-body">
            <h5 class="card-title">Content</h5>
            <p  class="card-text"> Our Service allows you to post, link, store, share and otherwise make available certain information, text, graphics, videos, or other material (“Content”). You are responsible for Content that you post on or through Service, including its legality, reliability, and appropriateness.<br/>

                By posting Content on or through Service, You represent and warrant that: (i) Content is yours (you own it) and/or you have the right to use it and the right to grant us the rights and license as provided in these Terms, and (ii) that the posting of your Content on or through Service does not violate the privacy rights, publicity rights, copyrights, contract rights or any other rights of any person or entity. We reserve the right to terminate the account of anyone found to be infringing on a copyright.<br/>
                
                You retain any and all of your rights to any Content you submit, post or display on or through Service and you are responsible for protecting those rights. We take no responsibility and assume no liability for Content you or any third party posts on or through Service. However, by posting Content using Service you grant us the right and license to use, modify, publicly perform, publicly display, reproduce, and distribute such Content on and through Service. You agree that this license includes the right for us to make your Content available to other users of Service, who may also use your Content subject to these Terms.<br/>
                
                Helpmetutors has the right but not the obligation to monitor and edit all Content provided by users.<br/>
                
                In addition, Content found on or through this Service are the property of Helpmetutors or used with permission. You may not distribute, modify, transmit, reuse, download, repost, copy, or use said Content, whether in whole or in part, for commercial purposes or for personal gain, without express advance written permission from us.</p>
                
          </div>
          
          <div class="card-body">
            <h5 class="card-title">Prohibited Uses</h5>
            <p class="card-text">You may use Service only for lawful purposes and in accordance with Terms. You agree not to use Service:</p>
                <ul>
                    <li> In any way that violates any applicable national or international law or regulation. </li>

                    <li> For the purpose of exploiting, harming, or attempting to exploit or harm minors in any way by exposing them to inappropriate content or otherwise.</li>

                <li>To transmit, or procure the sending of, any advertising or promotional material, including any “junk mail”, “chain letter,” “spam,” or any other similar solicitation.</li>  

             <li>To impersonate or attempt to impersonate Company, a Company employee, another user, or any other person or entity.</li> 

            <li> In any way that infringes upon the rights of others, or in any way is illegal, threatening, fraudulent, or harmful, or in connection with any unlawful, illegal, fraudulent, or harmful purpose or activity. </li>    

          <li> To engage in any other conduct that restricts or inhibits anyone’s use or enjoyment of Service, or which, as determined by us, may harm or offend Company or users of Service or expose them to liability.</li> </ul>
           <p>
            Additionally, you agree not to:
          </p>
     <ul>
           <li>Use Service in any manner that could disable, overburden, damage, or impair Service or interfere with any other party’s use of Service, including their ability to engage in real time activities through Service.</li>

          <li>Use any robot, spider, or other automatic device, process, or means to access Service for any purpose, including monitoring or copying any of the material on Service.</li>

        <li>Use any manual process to monitor or copy any of the material on Service or for any other unauthorized purpose without our prior written consent. </li> 

        <li>Introduce any viruses, trojan horses, worms, logic bombs, or other material which is malicious or technologically harmful.</li>
        <li>Attempt to gain unauthorized access to, interfere with, damage, or disrupt any parts of Service, the server on which Service is stored, or any server, computer, or database connected to Service.</li>
        <li>Attack Service via a denial-of-service attack or a distributed denial-of-service attack.</li>
                   
                </ul>
           
          </div>
          <div class="card-body">
            <h5 class="card-title">Copyright Policy</h5>
            <p class="card-text">We respect the intellectual property rights of others. It is our policy to respond to any claim that Content posted on Service infringes on the copyright or other intellectual property rights (“Infringement”) of any person or entity.<br/>

              If you are a copyright owner, or authorized on behalf of one, and you believe that the copyrighted work has been copied in a way that constitutes copyright infringement, please submit your claim via email to info@helpmetutors.com, with the subject line: “Copyright Infringement” and include in your claim a detailed description of the alleged Infringement as detailed below, under “DMCA Notice and Procedure for Copyright Infringement Claims”<br/>
              
              You may be held accountable for damages (including costs and attorneys’ fees) for misrepresentation or bad-faith claims on the infringement of any Content found on and/or through Service on your copyright.<br/></p>
          </div>
          <div class="card-body">
            <h5 class="card-title">DMCA Notice and Procedure for Copyright Infringement Claims</h5>
            <p class="card-text">You may submit a notification pursuant to the Digital Millennium Copyright Act (DMCA) by providing our Copyright Agent with the following information in writing (see 17 U.S.C 512(c)(3) for further detail): </p><br/>

              <ul>
                <li>an electronic or physical signature of the person authorized to act on behalf of the owner of the copyright’s interest;
                </li>
                <li>a description of the copyrighted work that you claim has been infringed, including the URL (i.e., web page address) of the location where the copyrighted work exists or a copy of the copyrighted work;
                </li>
                <li>your address, telephone number, and email address;
                </li>
                <li>a statement by you that you have a good faith belief that the disputed use is not authorized by the copyright owner, its agent, or the law;
                </li>
                <li> a statement by you, made under penalty of perjury, that the above information in your notice is accurate and that you are the copyright owner or authorized to act on the copyright owner’s behalf.
                </li>
                
              </ul>
              <p>You can contact our Copyright Agent via email at support@helpmetutors.com.</p>
               
          </div>
          <div class="card-body">
            <h5 class="card-title">Error Reporting and Feedback</h5>
            <p class="card-text">You may provide us either directly at info@helpmetutors.com or via third party sites and tools with information and feedback concerning errors, suggestions for improvements, ideas, problems, complaints, and other matters related to our Service (“Feedback”). You acknowledge and agree that: (i) you shall not retain, acquire or assert any intellectual property right or other right, title or interest in or to the Feedback; (ii) Company may have development ideas similar to the Feedback; (iii) Feedback does not contain confidential information or proprietary information from you or any third party; and (iv) Company is not under any obligation of confidentiality with respect to the Feedback. In the event the transfer of the ownership to the Feedback is not possible due to applicable mandatory laws, you grant Company and its affiliates an exclusive, transferable, irrevocable, free-of-charge, sub-licensable, unlimited and perpetual right to use (including copy, modify, create derivative works, publish, distribute and commercialize) Feedback in any manner and for any purpose.</p>
          </div>
          <div class="card-body">
            <h5 class="card-title">Changes To Service</h5>
            <p class="card-text">We reserve the right to withdraw or amend our Service, and any service or material we provide via Service, in our sole discretion without notice. We will not be liable if for any reason all or any part of Service is unavailable at any time or for any period. From time to time, we may restrict access to some parts of Service, or the entire Service, to users, including registered users.</p>
          </div>
          <div class="card-body">
            <h5 class="card-title">Amendments To Terms</h5>
            <p class="card-text">We may amend Terms at any time by posting the amended terms on this site. It is your responsibility to review these Terms periodically.<br/>

              Your continued use of the Platform following the posting of revised Terms means that you accept and agree to the changes. You are expected to check this page frequently so you are aware of any changes, as they are binding on you.<br/>
              
              By continuing to access or use our Service after any revisions become effective, you agree to be bound by the revised terms. If you do not agree to the new terms, you are no longer authorized to use Service.</p>
          </div>
          <div class="card-body">
            <h5 class="card-title">Acknowledgement</h5>
            <p class="card-text">BY USING SERVICE OR OTHER SERVICES PROVIDED BY US, YOU ACKNOWLEDGE THAT YOU HAVE READ THESE TERMS OF SERVICE AND AGREE TO BE BOUND BY THEM.</p>
          </div>
          <div class="card-body">
            <h5 class="card-title">Contact Us</h5>
            <p class="card-text">If you have any questions, please contact us by email: info@helpmetutors.com.</p>
          </div>
    </div>
</div>

