 <div class="jumbotron jumbotron-fluid hmt-jumbo">
        
      </div>
      <div class="container-fluid"> 
  <section class="section1">
  <div class="container">
      <div class="row">
          <div class="col-lg-6 col-sm-12">
              <!-- <h1 style="color:purple"><b>ABOUT US</b></h1><br/> -->
              <span class="animate__animated animate__bounce span1 ">ABOUT US</span>
          <h3 class=" hmt-h2">Helpmetutors Teaching Strategies</h3>   
  
              <p class="hmt-p1">Helpmetutors is one of the leading provider of private tutoring . We are one of the rapidly growing organisations who believes in education is the primary key to success & the process of more joyful not stressful. We stand as a bridge between the students & tutors helping each of them providing the best. Here, we help the freshers who are looking for a part time teaching jobs to enhance their teaching skills with weekly & monthly assessments. A student can post his requirements with his availability & his weak areas he want to improve. After the confirmation of the requirement, our executives start looking for the best possible & suitable tutor for the student within 24 hours. We arrange the demo session for earliest convenience of both student & teacher. After the demo finished, we let the student decide whether he want to continue with the tutor or not. If he is ok with the tutor then timetable along with weekly assessment schedule is prepared to  help the student otherwise, he can opt for another demo.</p>
          </div>
          <div class="col-lg-6 col-sm-12" style="margin-top: 4%;">
            <div class="card">
              <div class="embed-responsive embed-responsive-16by9">
                <video width="320" height="240" controls>
                  <source src="assets/images/hmt-video.mp4" type="video/mp4">
                </video>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </section>
  
    
  
  <section class="section2">
      <div class="container">
  <div class="row justify-content-around">
    <div class="col-md-1"></div>
      <div class="col-md-10">
             <div class="card card1">
          <h1 class="hmt-h3">OUR MISSION</h1>
          <p class="hmt-p2" style="color: black;">
            We mainly focus in helping the parents find the trusted and quality teachers. Also, to provide an excellent guidance through our well trained and experienced teachers.<br>We aim to offer students the best possible education system
          </p>
          <ul  class="hmt-ul1">
          <li  class="hmt-li1"><i class="fas fa-angle-double-right hmt-angle">
  
            Develop excellent communication skills.</i></li>
          <li class="hmt-li1"><i class="fas fa-angle-double-right hmt-angle">Includes practical knowledge</i></li>
          <li class="hmt-li1"><i class="fas fa-angle-double-right hmt-angle">Focussing on the student’s weakness</i></li>
          <li class="hmt-li1"><i class="fas fa-angle-double-right hmt-angle">Assures improvement in the standards of the students.</i></li>
          </ul>
        </div>
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>
  </section>
  <section style="margin-top: 30px;">
      <div class="container" style="background-color: thistle;">
         <q style="color:black"> <i>“I believe that education is all about being excited about something. Seeing passion and enthusiasm helps push an educational message.“
          <br/>-Steve Irwin</i></q>
      </div>
  
  </section>
  
  <section style="margin-top: 50px;">
      <div class="container">
      <div class="row">
          <div class="col-lg-6">
              <h1 class="hmt-h1">Reasons to Choose us.</h1><br/>
              <h2  style="color:#9b111e ">PARENTS</h2>
              <img src="assets/images/hmt-parent2.jpg" width="500px"
               height="300px" style="margin-top: 10px;">
          </div>
        
          <div class="col-lg-6">
            <div class="card card1">
              <h2><b><i class=" fas fa-angle-double-right hmt-angle"> Quality Teachers</i></b></h2>
              <p>Teaching is a responsible and complicated job. <br/>We provide tutors who not only teaches but also motivates students.<br/> One who always tries to bring improvement in students</p>
              <br/>
              <h2><b><i class="fas fa-angle-double-right hmt-angle"> Speedy Improvement</i></b></h2>
              <p>Our teachers first observe the weaker section of the student’s education.<br/> Then he start improving students learning skills.<br/> Teachers conduct regular tests to check the progress of students.</p>
           <br/>
           <h2><b><i class="fas fa-angle-double-right hmt-angle">Relax Parents!</i></b></h2>
              <p>In this generation parents are too busy with their works.<br/> They unable to find time for their kids education.<br/> Hence, we take that responsibilities of the parents by assigning <br/>suitable tuition teacher to their kids.</p>
              <br/>
            </div>
          </div>
           
        </div>
      </div>
  </section>
 
  
  <!-- counter meter -->

  <section  style="margin-top: 20px;">
  <div class="counter">
    <div class="container">
       <h1 style="text-align: center; padding: 20px;">What Helpmetutors has acheived so far!!!</h1>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="employees">
                    <p class="counter-count">97%</p>
                    <p class="employee-p">Home Tuitions</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="customer">
                    <p class="counter-count">91%</p>
                    <p class="customer-p">Online Tuitions</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="design">
                    <p class="counter-count">87%</p>
                    <p class="design-p">Assignment Help</p>
                </div>
            </div>

            
        </div>
    </div>
</div> 
</section>
  <section style="margin-top: 50px;">
      <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="card card1">
          <h2><b><i class="fas fa-angle-double-right hmt-angle">Passionate Teaching</i></b></h2>
          <p>Many professionals look for part time teaching jobs to fulfill their passion. We provide them tuitions so that they can  share their knowledge to the students and grow as teachers.</p>
          <br/>
          <h2><b><i class="fas fa-angle-double-right hmt-angle">Earn Extra</i></b></h2>
          <p>Graduating and post-graduating students look for part time jobs through which they can earn money. Teaching is a profession where one can earn respect and money.</p>
       <br/>
       <h2><b><i class="fas fa-angle-double-right hmt-angle">Build as a Career</i></b></h2>
          <p>Those who always wanted to be a teacher and share knowledge can kick start their career with a part time teaching. Apart from sharing knowledge, tutors may learn useful things from their students.This really helps to build a perfect career because when student raise a new doubt,it becomes a challenging phase for tutors and also there exist a good scope of learning new things to face challenges.</p>
          <br/>
          </div>
      </div>
          <div class="col-lg-6">
              <h1 class="hmt-h1">Reasons to Choose us.</h1><br/>
              <h2   style="color:#9b111e ">TEACHERS</h2>
              <img  class= "hmt-img1" src="assets/images/hmt-tutor3.jpg" >
            </div>
          
           
        </div>
      </div>
  </section>
  <section style="margin-top: 50px;">
    <div class="container">
        <div class="row">
  
      </div>
         
     
    </div>
  </section>
  <!-- <section style="margin-top: 50px;">
      <div style="background-color: black;"> 
          <div class="row" style="color: white;">
            <div class="col-sm-4">
           <ul>
             <li><h2>Support</h2></li>
             <li>privacy</li>
             <li>FAQ's</li>
             <li>Terms</li>
             <li>condition</li>
             <li>policy</li>
            </ul>
  
            </div>
            <div class="col-sm-4">
              <ul>
                <li><h2>Contact us</h2></li>
                <li>Drop a mail to</li>
                <li>helpmetutors@gmail.com</li>
                 </ul>
            </div>
            <div class="col-sm-4">All rights reserved</div>
              
          </div>
  
      </div>
  </section> -->
  </div>
