
.login-form {
    width: 400px;
    margin: 30px auto;
}
.login-form form {        
    margin-bottom: 15px;
    //background: #f7f7f7;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    padding: 30px;
}
.login-form h2 {
    margin: 0 0 15px;
}

.btn-sign{
    background-color: #9b111e;
    color: white;
}

.form-control, .login-btn {
    border-radius: 20px;
}
.input-group-prepend .fa {
    font-size: 18px;
}
.login-btn {
    font-size: 18px;
}
.social-btn .btn {
    border: none;
    margin: 10px 3px 0;
    opacity: 1;
}
.social-btn .btn:hover {
    opacity: 0.9;
    
}
.social-btn .btn-secondary, .social-btn .btn-secondary:active {
    background: #507cc0 !important;
    border-radius: 20px;
}
.social-btn .btn-info, .social-btn .btn-info:active {
    background: #64ccf1 !important;
    border-radius: 20px;
}
.social-btn .btn-danger, .social-btn .btn-danger:active {
    background: #df4930 !important;
    border-radius: 20px;
}
.or-seperator {
    margin-top: 20px;
    text-align: center;
    border-top: 1px solid #ccc;
}
.or-seperator i {
    padding: 0 10px;
    background: #f7f7f7;
    position: relative;
    top: -11px;
    z-index: 1;
}   