
<div class="container mx-auto">
    <div class="card card0 border-0">
        <div class="row d-flex">
            <div class="col-md-12">
                <div class="login-form">
                        <form [formGroup]="formGroup"  novalidate>
                            <h2 class="text-center">Welcome to Helpmetutors!!</h2>   
                            <div class="form-group">
                            <label for="exampleInputEmail1">Email Address</label>
                             <input type="email" class="form-control" name="email"  required>
                             <div *ngIf="formGroup.controls['email'].invalid && (formGroup.controls['email'].dirty || formGroup.controls['email'].touched)" class="alert alert-danger">
                                <div *ngIf="formGroup.controls['email'].errors.required">
                                  Email is required.
                                </div>
                          </div>  
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Password</label>
                                    <input type="password" class="form-control" name="password"  required>	
                                    <div *ngIf="formGroup.controls['password'].invalid && (formGroup.controls['password'].dirty || formGroup.controls['password'].touched)" class="alert alert-danger">
                                        <div *ngIf="formGroup.controls['password'].errors.required">
                                          Password is required.
                                        </div>	
                                </div>
                            </div>        
                            <div class="form-group">
                                <button type="submit" [disabled]="!formGroup.valid" class="btn btn-sign login-btn btn-block">Login</button>
                            </div>
                            <div class="clearfix">
                                <label class="float-left form-check-label"><input type="checkbox"> Remember me</label>
                                <a style="color: black;" href="#" class="float-right">Forgot Password?</a>
                            </div>
                            <div class="or-seperator"><i>or</i></div>
                            <p class="text-center">Login with your social media account</p>
                            <div class="text-center social-btn">
                                <a href="#" class="btn btn-secondary"><i class="fa fa-facebook"></i>&nbsp; Facebook</a>
                                <a href="#" class="btn btn-info"><i class="fa fa-twitter"></i>&nbsp; Twitter</a>
                                <a href="#" class="btn btn-danger"><i class="fa fa-google"></i>&nbsp; Google</a>
                            </div>
                        </form>
                        <p class="text-center text-muted small">Don't have an account? <a href="/register">Register here!</a></p>
                    </div> 
            
            </div>
        </div>
       
    </div>
</div>


