
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <div class="card hmt-card">
          <h1 class= "hmt-works">How it works!!<hr></h1>
        <h3><b><i class="fas fa-lightbulb">&nbsp;CREATE TUTOR PROFILE</i></b></h3>
        <p>Create a tutor profile and find a suitable tuition job within minutes. Helpmetutors keep teacher's experience details and area of uniqueness at the top of the priority list.</p>
        <br/>
        <h3><b><i class="fas fa-search">&nbsp; RESPOND TO YOUR SUITABLE REQUIREMENT</i></b></h3>
        <p>Based on tutor's teaching details and level of experience. Helpmetutors suggest the best tuition to the teacher.</p>
     <br/>
     <h3><b><i class="fas fa-chalkboard-teacher">&nbsp;GIVE A DEMO </i></b></h3>
        <p>Helpmetutors fix demo class as per your convenience. If it didnt work out, you can opt always for another.</p>
        <br/>
        <h3><b><i class="fas fa-book-reader">&nbsp; BEGIN EARNING </i></b></h3>
        <p>Once the teacher is fixed. Tuition starts as per the scheduled time. Tutor try to help the student with his requirements. Teacher's hardwork will be appreciated </p>
        <br/>

    </div>
  
    </div>
    <div class="col-md-8">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
             <h1 class="hmt-parent">Are you looking for part time home/online teacher jobs? Register your tutoring details below FREELY to find suitable.!!</h1>
            <!-- form start -->
            <mat-horizontal-stepper linear #stepper>
              <mat-step [stepControl]="firstFormGroup" style="background-color: tomato;">
                  <div class="container container-firstform" style="align-items: center;">
                    <div class="col" >
                <form [formGroup]="firstFormGroup"  novalidate>
                  <ng-template matStepLabel>Personal Details</ng-template>
                  <div class="container" style="background-color: whitesmoke;">
                    <div class="row">
                    <div class="col-md-12">
                      <div class="row" style="margin-top: 20px;">
                        <div class="col-lg-2"></div>
                        <div class="col-lg-8">
                            <div class="form-group" >
                              <label for="exampleInputEmail1">Full Name<span style="color:red;">*</span></label>
                              <input type="text" class="form-control" formControlName="name">
                            </div>
                            <div *ngIf="firstFormGroup.controls['name'].invalid && (firstFormGroup.controls['name'].dirty || firstFormGroup.controls['name'].touched)" class="alert alert-danger">
                              <div *ngIf="firstFormGroup.controls['name'].errors.required">
                                Name is required.
                              </div>
                          </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-lg-2"></div>
                          <div class="col-lg-8">
                              <div class="form-group" >
                                <label for="exampleInputEmail1">Email Address<span style="color:red;">*</span></label>
                                <input type="email" class="form-control" formControlName="email">
                              </div>
                              <div *ngIf="firstFormGroup.controls['name'].invalid && (firstFormGroup.controls['name'].dirty || firstFormGroup.controls['name'].touched)" class="alert alert-danger">
                                <div *ngIf="firstFormGroup.controls['name'].errors.required">
                                  Email address is required.
                                </div>
                            </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-lg-2"></div>
                            <div class="col-lg-8">
                                <div class="form-group" >
                                  <label for="exampleInputEmail1">Password<span style="color:red;">*</span></label>
                                  <input type="password" class="form-control" formControlName="password">
                                </div>
                                <div *ngIf="firstFormGroup.controls['password'].invalid && (firstFormGroup.controls['password'].dirty || firstFormGroup.controls['password'].touched)" class="alert alert-danger">
                                  <div *ngIf="firstFormGroup.controls['password'].errors.required">
                                    Password is required.
                                  </div>
                              </div>
                              </div>
                            </div>
                          <div class="row">
                            <div class="col-lg-2"></div>
                            <div class="col-lg-8">
                                <div class="form-group" >
                                  <label for="exampleInputEmail1">Contact Number<span style="color:red;">*</span></label>
                                  <input type="number" class="form-control" formControlName="contact">
                                </div>
                                <div *ngIf="firstFormGroup.controls['name'].invalid && (firstFormGroup.controls['name'].dirty || firstFormGroup.controls['name'].touched)" class="alert alert-danger">
                                  <div *ngIf="firstFormGroup.controls['name'].errors.required">
                                    Contact number is required.
                                  </div>
                              </div>
                              </div>
                            </div>
                          <div class="row">
                            <div class="col-lg-2"></div>
                            <div class="col-lg-8">
                                <div class="form-group" >
                                  <label for="exampleInputEmail1">Location<span style="color:red;">*</span></label><br/>
                                  <input class="form-control hmt-location" formControlName="location" ngx-google-places-autocomplete [options]='options' #placesRef="ngx-places"/>
                                </div>
                                <div *ngIf="firstFormGroup.controls['name'].invalid && (firstFormGroup.controls['name'].dirty || firstFormGroup.controls['name'].touched)" class="alert alert-danger">
                                  <div *ngIf="firstFormGroup.controls['name'].errors.required">
                                    Location is required.
                                  </div>
                              </div>
                              </div>
                            </div>
                     
                     <div class="row">
                      <div class="col-lg-2"></div>
                      <div class="col-lg-8">
                     <div class="form-button">
                      <button  style="color: white;"  type="button" class="btn btn-danger btn-lg hmt-next1" mat-button matStepperNext [disabled]="!firstFormGroup.valid || firstFormGroup.pristine">Take Me To The Next Step</button>
                    </div>
                  </div>
                </div>
              </div>
              
            </div>
              </div>
                </form> 
                </div>
              </div>
              </mat-step>
              <mat-step [stepControl]="secondFormGroup" [optional]="isOptional">
                  <div class="container">
                    <div class="col" style="background-color: white;">
                
                <form [formGroup]="secondFormGroup">
                  <ng-template matStepLabel>Teaching Details</ng-template>
                  <div class="container">
                    <div class="row" style="margin-top: 20px;">
                      <div class="col-md-12">
                          <div class="row">
                              <div class="col-lg-2"></div>
                            <div class="col-lg-8">
                              <div class="form-group" >
                                <label for="exampleInputEmail1">About Me<span style="color:red;">*</span></label>
                                <textarea type="text-area" class="form-control"  rows="5" id="details" formControlName="about"  ></textarea>
                              </div>
                            </div>
                            </div>
                            
                              <div class="row">
                                <div class="col-lg-2"></div>
                                <div class="col-lg-8">
                                    <div class="form-group" >
                                      <label for="exampleInputEmail1">Work Experience<span style="color:red;">*</span></label>
                                      <textarea type="text-area" class="form-control"  rows="5" id="details" formControlName="work"  ></textarea>
                                      <!-- <input type="email" class="form-control" formControlName="secondCtrl"> -->
                                    </div>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col-lg-2"></div>
                                  <div class="col-lg-8">
                                      <div class="form-group" >
                                        <label for="exampleInputEmail1">Teaching Experience<span style="color:red;">*</span></label>
                                        <select class="form-control" id="modeofteaching" formControlName="teaching">
                                          <option></option>
                                          <option>0-5years</option>
                                          <option>10-15years</option>
                                          <option>15-20years</option>
                                          <option>more than 20years</option>
                                        </select>
                                        <!-- <input type="email" class="form-control" formControlName="secondCtrl"> -->
                                      </div>
                                    </div>
                                  </div>
                                <div class="row">
                                  <div class="col-lg-2"></div>
                                  <div class="col-lg-8">
                                      <label for="exampleInputEmail1">Mode Of Teaching<span style="color:red;">*</span></label>
                                      <div class="form-group hmt-checkbox" >
                                          <div class="form-check form-check-inline">
                                              <input class="form-check-input" id="modeofteaching" formControlName="modeofteaching" type="checkbox" value="option1">
                                              <label class="form-check-label" for="inlineCheckbox1">Home</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                              <input class="form-check-input" id="modeofteaching" formControlName="modeofteaching"  type="checkbox"value="option2">
                                              <label class="form-check-label" for="inlineCheckbox2">Online</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                              <input class="form-check-input" id="modeofteaching" formControlName="modeofteaching"  type="checkbox" value="option3">
                                              <label class="form-check-label" for="inlineCheckbox3">Student's place</label>
                                            </div>
                                      </div>
                                    </div>
                                  </div>
                          
                      <div class="row">
                        <div class="col-lg-2"></div>
                <div class="col-lg-8">
                  <div class="form-button" style="display: flex;">
                <button mat-button type="button" class="btn btn-secondary btn-lg hmt-back" matStepperPrevious>Go Back</button> &nbsp;
              
                  <button style="color: white;" type="button" class="btn btn-danger btn-lg hmt-next2" mat-button matStepperNext [disabled]="!secondFormGroup.valid || secondFormGroup.pristine">Take Me To The Final Step</button>
              </div>
            </div>
          </div>
      
            </div> 
            
                  </div>
                     
                  </div>
                </form> 
                </div>
              </div>
      
      
              </mat-step>
              <mat-step [stepControl]="thirdFormGroup" style="background-color: tomato;">
                <div class="container container-thirdform" style="align-items: center;">
                  <div class="col" >
              <form [formGroup]="thirdFormGroup"  novalidate>
                <ng-template matStepLabel>Almost Done</ng-template>
                <div class="container" style="background-color: whitesmoke;">
                  <div class="row">
                  <div class="col-md-12">
                      <div class="row"  style="margin-top: 20px;">
                        <div class="col-lg-2"></div>
                        <div class="col-lg-8">
                            <div class="form-group" >
                              <label for="exampleInputEmail1">Available Timings<span style="color:red;">*</span></label>
                              <input type="text" class="form-control" formControlName="timing">
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-lg-2"></div>
                        <div class="col-lg-8">
                          <div class="form-group" >
                            <label for="exampleInputEmail1">Charge<span style="color:red;">*</span></label>
                            <div style="display: flex;">
                            <input type="text" style="width: 70%;" class="form-control" formControlName="charge">
                            <select class="form-control" style="width: 30%;" id="charge" formControlName="charge">
                              <option></option>
                              <option>per hour</option>
                              <option>per month</option>
                              <option>one time pay</option>
                            </select>
                          </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-2"></div>
                      <div class="col-lg-8">
                        <div class="form-group" >
                          <label for="exampleInputEmail1">Upload Background Check</label>
                          <input type="file" class="form-control hmt-upload" formControlName="upload">
                        </div>
                      </div>
                    </div>
                   
                   <div class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8">
                   <div class="form-button" style="display: flex;">
                    <button mat-button type="button" class="btn btn-secondary btn-lg hmt-back" matStepperPrevious>Back</button> &nbsp;
                    <button  style="color: white;"  type="button" class="btn btn-danger btn-lg hmt-next1" mat-button matStepperNext [disabled]="!thirdFormGroup.valid || thirdFormGroup.pristine"  (click)="onSubmitClick()">Submit My Need</button>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
            </div>
              </form> 
              </div>
            </div>
            </mat-step>
            </mat-horizontal-stepper>
            <!-- form end -->
          </div>
         
        </div>
          
        </div>
    </div>
  </div>
</div>
  
