.mat-form-field {
  margin-top: 16px;
}

.hmt-card{
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 10px;

}

.form-control{
  border-radius: 30px;
  border:1px solid #999999;
}

.form-button{
  color: white;
}
.hmt-works{
  text-align: center;
  color: #9b111e;
}

.hmt-parent{
  font-size: 18px;
  font-weight: 500;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color:black;
  margin-top: 10px;
}

.hmt-upload{
  box-shadow: 0;
  border: 0px none #ffffff;;
}

.hmt-notes{
  height: 150px;
}



.hmt-back{
  width: 35%;
  border-radius: 20px;
  color:white;
  margin:auto;
  display: block;
  font-size: 18px ;
  text-align: center;
  background-color: grey;
}

.hmt-next1{
  width: 70%;
  border-radius: 20px;
  display: block;
  background-color: #c82333;
  margin: auto;
  font-size: 18px ;
  color:white;
}
.hmt-next2{
  width: 60%;
  border-radius: 20px;
  display: block;
  background-color: #c82333;
  margin: auto;
  font-size: 18px ;
  color:white;
}

.hmt-submit{
  width: 60%;
  border-radius: 20px;
  color:white;
  margin:auto;
  font-size: 18px ;
  text-align: center;
  background-color: #c82333;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


::placeholder{
  color: transparent;
}

input :focus{
 border: transparent;

 }

 *:focus{
   outline:none;
 }

 .btn-danger:hover{
   background-color:none !important;
 }

