.container4{
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}


.hmt-contact{
    padding: 2%;
    //height: 400px;
    z-index: 1;
    box-shadow: 0px 4px 8px 0px #757575;
    border-radius: 0px;
}
.col-md-4{
    background-image: url("/assets/images/hmt-contact3.png");
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    padding: 2%;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

.col-md-8{
    background: #fff;
    padding: 3%;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.button{
    text-align: center;
    background-color: #9b111e;
    font-size: 18px;
    width: 70%;
    border-radius: 20px;
    display: block;
    margin: auto;
    color: white;
}
.contact-form button:focus{
    box-shadow:none;
}

.contact-box{
    font-size: 22px;
    color: black;
    margin-top: 20px;
}

#hmt-mail{
    color:black;
}

#hmt-fb{
    color:blue;
}

#hmt-insta{
    color: orangered;
}

.contact1{
    text-align: center;
    font-style: italic;
}


.p-contact{
    font-size: 16px;
}


.line{
    text-align: center;
}

#hmt-pinterest{
    color: darkred;
}


.form-control{
    border-radius: 30px;
    border:1px solid #999999;
}

.col-sm-2{
    max-width: 20%;
}