
 <div class="container card hmt-contact" style="margin-top: 10px; margin-bottom: 10px;">
	<div class="row">
    <div class="col-md-4 contact-box col-margin"> 
      </div>
		<div class="col-md-8">
			<div class="contact-form">
		<h1 style="margin-left:25px;">Send us a message</h1>
		<form [formGroup]="formGroup">
			<div class="container">
				<div class="form-group">
				  <label class="control-label col-sm-2" for="fname">Name:</label>
				  <div class="col-sm-10">          
					<input type="text" class="form-control" 
					 id="name" formControlName="name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
					 <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
						<div *ngIf="name.errors.required">Name is required</div>
					</div>
				</div>
				</div>
				<div class="form-group">
				  <label class="control-label col-sm-2" for="email">Email:</label>
				  <div class="col-sm-10">
					<input type="email" class="form-control" id="email" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" >
				  <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
					<div *ngIf="f.email.errors.required">Email is required</div>
					<div *ngIf="f.email.errors.email">Email must be a valid email address</div>
				</div>
				</div>
				 </div>
				 <div class="form-group">
					<label class="control-label col-sm-2" for="lname">Phone Number:</label>
					<div class="col-sm-10">          
					  <input type="number" class="form-control" id="phone" formControlName="phone" [ngClass]="{ 'is-invalid': submitted && f.phone.errors }" >
					<div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
						<div *ngIf="f.phone.errors.required">Phone is required</div>
						<div *ngIf="f.phone.errors.phone">Phone Number is not valid</div>
					</div>
				</div>
				  </div>
                 <div class="form-group">
				  <label class="control-label col-sm-2" for="subject">Subject:</label>
				  <div class="col-sm-10">          
					<input type="text" class="form-control" id="subject" formControlName="subject" [ngClass]="{ 'is-invalid': submitted && f.subject.errors }"/>
				  <div *ngIf="submitted && f.subject.errors" class="invalid-feedback">
					<div *ngIf="subject.errors.required">Subject is required</div>
				</div>
				</div>
			</div>
				<div class="form-group">
				  <label class="control-label col-sm-2" for="message">Message:</label>
				  <div class="col-sm-10">
					<textarea class="form-control" rows="5" id="message" formControlName="message" [ngClass]="{ 'is-invalid': submitted && f.message.errors }"></textarea>
					<div *ngIf="submitted && f.message.errors" class="invalid-feedback">
						<div *ngIf="message.errors.required">Message is required</div>
					</div>
				</div>
				</div>
				<div class="form-group">        
				  <div class="col-sm-offset-2 col-sm-10">
					<button type="submit"  class="btn btn-default button" (click)="onSubmitClick()">Submit My Query</button>
				  </div>
				</div>
			    </div>
				</form>
			</div>
		</div>
	</div>
</div> 