<div class="container " style="margin-top: 10px; margin-bottom: 10px;">
    <div class="card">
        <h1 style="margin-top: 10px; text-align: center; color: #9b111e; font-size: x-large; font-weight: 500;">Privacy policy</h1>
        <div class="card-body">
            <h5 class="card-title">Information Collected</h5>
            <p class="card-text">Helpmetutors operates https://www.helpmetutors.com (hereinafter referred to as “Service”) policy to respect your privacy regarding any information we may collect while operating our website.
                This Privacy Policy applies to https://www.helpmetutors.com (hereinafter, “us”, “we”, or “https://www.helpmetutors.com”). We respect your privacy and are committed to protecting personally identifiable information you may provide us through the Website. Therefore, explains how we collect, safeguard and disclose information that results from your use of our Service.<br/>We use your data to provide and improve Service. By using Service, you agree to the collection and use of information in accordance with this policy. Unless otherwise defined in this Privacy Policy, the terms used in this Privacy Policy have the same meanings as in our Terms and Conditions.<br/>Our Terms and Conditions (“Terms”) govern all use of our Service and together with the Privacy Policy constitutes your agreement with us (“agreement”).</p>
          </div>
          <div class="card-body">
            <h5 class="card-title">Personal Data</h5>
            <p> class="card-text">While using our Service, we may ask you to provide us with certain personally identifiable information that can be used to contact or identify you (“Personal Data”). Personally identifiable information may include, but is not limited to</p>
                <ul>
                    <li>
                        Email address
                    </li>
                    <li>
                        Name
                    </li>
                    <li>
                        Phone number
                    </li>
                    <li>
                        Address, Country, State, Province, ZIP/Postal code, City
                    </li>
                </ul>
          </div>
          <div class="card-body">
            <h5 class="card-title">Other Data</h5>
            <p class="card-text">While using our Service, we may also collect the following information: sex, age, date of birth, place of birth, passport details, citizenship, registration at place of residence and actual address, telephone number (work, mobile), details of documents on education, qualification, professional training, employment agreements, non-disclosure agreements, information on bonuses and compensation, information on marital status, family members, social security (or other taxpayer identification) number, office location and other data.</p>
          </div>
          <div class="card-body">
            <h5 class="card-title">Use of Data</h5>
            <p class="card-text">Helpmetutors uses the collected data for various purposes: </p>
                <ul>
                    <li> to provide and maintain our Service; </li>

                    <li> to notify you about changes to our Service;</li>

                <li>  to allow you to participate in interactive features of our Service when you choose to do so;</li>  

             <li>  to provide customer support; </li> 

            <li> to gather analysis or valuable information so that we can improve our Service; </li>    

          <li> to monitor the usage of our Service;</li> 

           <li> to detect, prevent and address technical issues;</li>

          <li> to fulfil any other purpose for which you provide it;</li>

        <li>  to carry out our obligations and enforce our rights arising from any contracts entered into between you and us, including for billing and collection; </li> 

        <li> to provide you with notices about your account and/or subscription, including expiration and renewal notices, email-instructions, etc.; </li>
                   
                </ul>
           
          </div>
          <div class="card-body">
            <h5 class="card-title">Retention of Data</h5>
            <p class="card-text">We will retain your Personal Data only for as long as is necessary for the purposes set out in this Privacy Policy. We will retain and use your Personal Data to the extent necessary to comply with our legal obligations (for example, if we are required to retain your data to comply with applicable laws), resolve disputes.</p>
          </div>
          <div class="card-body">
            <h5 class="card-title">Changes to This Privacy Policy</h5>
            <p class="card-text">We may update our Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on this page.<br/>

                We will let you know via email and/or a prominent notice on our Service, prior to the change becoming effective and update “effective date” at the top of this Privacy Policy.<br/>
                
                You are advised to review this Privacy Policy periodically for any changes. Changes to this Privacy Policy are effective when they are posted on this page.</p>
          </div>
          <div class="card-body">
            <h5 class="card-title">Security</h5>
            <p class="card-text">The security of your Personal Information is important to us, but remember that no method of transmission over the Internet, or method of electronic storage is 100% secure. While we strive to use commercially acceptable means to protect your Personal Information, we cannot guarantee its absolute security.</p>
          </div>
          <div class="card-body">
            <h5 class="card-title">Contact Us</h5>
            <p class="card-text">If you have any questions, please contact us by email: info@helpmetutors.com.</p>
          </div>
    </div>
</div>
