
<div class="container-fluid thankyou">
      <div class="jumbotron card text-center">
        <div class="hmt-success d-flex">
  
            <div class="success-icon">
              <div class="success-icon__tip"></div>
              <div class="success-icon__long"></div>
            </div>
            
          </div>
        <h1 class="display-3">Thank You for getting registered with Helpmetutors!!</h1>
        <p class="lead"><strong>We have received your details</strong><br/>Our executive will get back to you at the earliest.</p>
        <hr>
        <p class="lead">
          Have Queries? <a href="/contact" style="color: black;">Contact us</a>
        </p>
        <p class="lead">
          <a class="btn btn-primary btn-sm button" href="/" role="button">Continue to homepage</a>
        </p>
      </div>

</div>