
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
     
      
        <div class="card hmt-card">
          <h1 class= "hmt-works">How it works!!<hr></h1>
        <h3><b><i class="fas fa-lightbulb">&nbsp; RECOGNIZE YOUR NEEDS</i></b></h3>
        <p>Post your requirement and find a suitable tutor within minutes. Helpmetutors keep student's learning details and area of weakness at the top of the priority list.</p>
        <br/>
        <h3><b><i class="fas fa-search">&nbsp; DETERMINATION OF TUTOR</i></b></h3>
        <p>Based on student's learning details and level of understanding. Helpmetutors select best tutor who is qualified, experienced and has demonstrated reputation of best outcome.</p>
     <br/>
     <h3><b><i class="fas fa-chalkboard-teacher">&nbsp; MASTERMIND DEMO </i></b></h3>
        <p>Helpmetutors fix demo class as per your convenience. If you are not satisfied with demo, you can opt for another.</p>
        <br/>
        <h3><b><i class="fas fa-book-reader">&nbsp; BEGIN LEARNING </i></b></h3>
        <p>Once the student select teacher. Tutor start class as per the scheduled time & help the student with his requirements. Student 's improvement will be tracked on a weekly basis</p>
        <br/>

    </div>
  
    </div>
    <div class="col-md-8">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
             <h1 class="hmt-parent">Looking for home tutors, online teachers, assignment help, homework guidance or any such related requirement. Kindly fill the form below to hire a teacher today!!</h1>
            <!-- form start -->
            <mat-horizontal-stepper linear #stepper>
              <mat-step [stepControl]="firstFormGroup" style="background-color: tomato;">
                  <div class="container container-firstform" style="align-items: center;">
                    <div class="col" >
                <form [formGroup]="firstFormGroup" (ngSubmit)="onSubmit()">
                  <ng-template matStepLabel>Personal Details</ng-template>
                  <div class="container" style="background-color: whitesmoke;">
                    <div class="row">
                    <div class="col-md-12">
                      <div class="row" style="margin-top: 20px;">
                        <div class="col-lg-2"></div>
                        <div class="col-lg-8">
                            <div class="form-group" >
                              <label class="control-label col-sm-2">Full Name<span style="color:red;">*</span></label>
                              <input type="text" class="form-control" formControlName="name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                              <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                                <div *ngIf="name.errors.required">Full Name is required</div>
                              </div>

                            </div>  
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-lg-2"></div>
                          <div class="col-lg-8">
                              <div class="form-group" >
                                <label class="control-label col-sm-2">Email Address<span style="color:red;">*</span></label>
                                <input type="email" class="form-control" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }"/>
                                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                  <div *ngIf="f.email.errors.required">Email is required</div>
                                  <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                                </div>
                              </div>  
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-lg-2"></div>
                            <div class="col-lg-8">
                                <div class="form-group" >
                                  <label class="control-label col-sm-2">Password<span style="color:red;">*</span></label>
                                  <input type="password" class="form-control" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                                  <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                    <div *ngIf="password.errors.required">Password is required</div>
                                  </div>
                                </div>  
                              </div>
                            </div>
                          <div class="row">
                            <div class="col-lg-2"></div>
                            <div class="col-lg-8">
                                <div class="form-group" >
                                  <label class="control-label col-sm-2">Phone Number<span style="color:red;">*</span></label>
                                  <input type="number" class="form-control" formControlName="contact" [ngClass]="{ 'is-invalid': submitted && f.contact.errors }">
                                  <div *ngIf="submitted && f.contact.errors" class="invalid-feedback">
                                    <div *ngIf="contact.errors.required">Phone Number is required</div>
                                  </div>
                                </div>
                                
                              </div>
                            </div>
                          <div class="row">
                            <div class="col-lg-2"></div>
                            <div class="col-lg-8">
                                <div class="form-group" >
                                  <label class="control-label col-sm-2">Location<span style="color:red;">*</span></label><br/>
                                  <input class="form-control hmt-location" formControlName="location"  [ngClass]="{ 'is-invalid': submitted && f.location.errors }" ngx-google-places-autocomplete [options]='options' #placesRef="ngx-places"/>
                                  <div *ngIf="submitted && f.location.errors" class="invalid-feedback">
                                    <div *ngIf="location.errors.required">Location is required</div>
                                  </div>
                                </div>
                                
                              </div>
                            </div>
                     
                     <div class="row">
                      <div class="col-lg-2"></div>
                      <div class="col-lg-8">
                     <div class="form-button">
                      <button  style="color: white;"  type="button" class="btn btn-danger btn-lg hmt-next1" mat-button matStepperNext >Take Me To The Next Step</button>
                    </div>
                  </div>
                </div>
              </div>
              
            </div>
              </div>
                </form> 
                </div>
              </div>
              </mat-step>
              <mat-step [stepControl]="secondFormGroup" [optional]="isOptional">
                  <div class="container">
                    <div class="col" style="background-color: white;">
                
                <form [formGroup]="secondFormGroup" (ngSubmit)="onSubmit()">
                  <ng-template matStepLabel>Tutor Need Details</ng-template>
                  <div class="container">
                    <div class="row" style="margin-top: 20px;">
                      <div class="col-md-12">
                        <div class="row">
                      <div class="col-lg-2"></div>
                    <div class="col-lg-8">
                      <div class="form-group">
                        <label for="exampleFormControlSelect1">Looking for</label>
                        <select class="form-control" id="exampleFormControlSelect1" formControlName="lookingfor" [ngClass]="{ 'is-invalid': submitted && f.lookingfor.errors }">
                          <option>Tutor</option>
                          <option>Assignment Help</option>
                        </select>
                        <div *ngIf="submitted && f.lookingfor.errors" class="invalid-feedback">
                          <div *ngIf="lookingfor.errors.required">Select an option</div>
                        </div>
                      </div>
                    </div>
                    
                    </div>
                    <div class="row">
                      <div class="col-lg-2"></div>
                      <div class="col-lg-8">
                          <div class="form-group" >
                            <label class="control-label col-sm-2">Grade<span style="color:red;">*</span></label>
                            <select class="form-control" id="exampleFormControlSelect1" formControlName="grade" [ngClass]="{ 'is-invalid': submitted && f.grade.errors }">
                              <option>Nursery, Kindergarten</option>
                              <option>class 1</option>
                              <option>class 2</option>
                              <option>class 3</option>
                              <option>class 4</option>
                              <option>class 5</option>
                              <option>class 6</option>
                              <option>class 7</option>
                              <option>class 8</option>
                              <option>class 9</option>
                              <option>class 10</option>
                              <option>class 11</option>
                              <option>class 12</option>
                              <option>Intermediate</option> 
                              <option>Diploma</option>
                              <option>Undergraduate</option>
                              <option>Postgraduate</option>
                               <option>Doctorate</option> 
                               <option>Other</option>
                            </select>
                            <div *ngIf="submitted && f.grade.errors" class="invalid-feedback">
                              <div *ngIf="grade.errors.required">Select an option</div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-2"></div>
                        <div class="col-lg-8">
                            <div class="form-group" >
                              <label class="control-label col-sm-2">Subject(s)<span style="color:red;">*</span></label>
                              <input type="text" class="form-control" formControlName="subjects" [ngClass]="{ 'is-invalid': submitted && f.subjects.errors }">
                              <div *ngIf="submitted && f.subjects.errors" class="invalid-feedback">
                                <div *ngIf="subjects.errors.required">Select an option</div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-lg-2"></div>
                          <div class="col-lg-8">
                              <div class="form-group" >
                                <label class="control-label col-sm-2">Details of the requirement<span style="color:red;">*</span></label>
                                <textarea type="text-area" class="form-control"  rows="5" id="details" formControlName="details" [ngClass]="{ 'is-invalid': submitted && f.details.errors }" placeholder="I am in need of home tutor with experience in teaching class 9 ICSE maths and science for 5 days weekly, 1.5hours daily. Timings can be 5 to 6:30pm. My budget is 7000 per month" ></textarea>
                                <div *ngIf="submitted && f.details.errors" class="invalid-feedback">
                                  <div *ngIf="details.errors.required">Details of the requirement must be filled</div>
                                </div>
                              </div>
                            </div>
                          </div>
                      <div class="row">
                        <div class="col-lg-2"></div>
                <div class="col-lg-8">
                  <div class="form-button" style="display: flex;">
                <button mat-button type="button" class="btn btn-secondary btn-lg hmt-back" matStepperPrevious>Back</button> &nbsp;
              
                  <button  style="color: white;"  type="button" class="btn btn-danger btn-lg hmt-next2" mat-button matStepperNext >Take Me To The Final Step</button>
              </div>
            </div>
          </div>
      
            </div> 
            
                  </div>
                     
                  </div>
                </form> 
                </div>
              </div>
      
      
              </mat-step>
              <mat-step [stepControl]="thirdFormGroup" style="background-color: tomato;">
                <div class="container container-thirdform" style="align-items: center;">
                  <div class="col" >
              <form [formGroup]="thirdFormGroup" (ngSubmit)="onSubmit()">
                <ng-template matStepLabel>Almost Done</ng-template>
                <div class="container" style="background-color: whitesmoke;">
                  <div class="row">
                  <div class="col-md-12">
                      <div class="row"  style="margin-top: 20px;">
                        <div class="col-lg-2"></div>
                        <div class="col-lg-8">
                            <div class="form-group" >
                              <label class="control-label col-sm-2">Mode Of Teaching<span style="color:red;">*</span></label>
                              <select class="form-control" id="modeofteaching" formControlName="modeofteaching" [ngClass]="{ 'is-invalid': submitted && f.modeofteaching.errors }" >
                                <option></option>
                                <option>Home</option>
                                <option>Online</option>
                                <option>Tutor's place</option>
                              </select>
                              <div *ngIf="submitted && f.modeofteaching.errors" class="invalid-feedback">
                                <div *ngIf="modeofteaching.errors.required">Select an option(s)</div>
                              </div>
                            </div>
                          </div>
                        </div>
                            <div class="row">
                              <div class="col-lg-2"></div>
                              <div class="col-lg-8">
                                  <div class="form-group" >
                                    <label class="control-label col-sm-2">Gender Preference<span style="color:red;">*</span></label>
                                    <select class="form-control" id="gender" formControlName="gender" [ngClass]="{ 'is-invalid': submitted && f.gender.errors }">
                                      <option></option>
                                      <option>Female</option>
                                      <option>Male</option>
                                      <option>No preference</option>
                                    </select>
                                    <div *ngIf="submitted && f.gender.errors" class="invalid-feedback">
                                      <div *ngIf="gender.errors.required">Select an option</div>
                                    </div> 
                                  </div>
                                </div>
                              </div>
                  <div class="row">
                    <div class="col-lg-2"></div>
                  <div class="col-lg-8">
                    <div class="form-group" >
                      <label class="control-label col-sm-2">Budget <span style="color:red;">*</span></label>
                      <div style="display: flex;">
                      <input type="text" style="width: 70%;" class="form-control" formControlName="budget" [ngClass]="{ 'is-invalid': submitted && f.budget.errors }">
                      <div *ngIf="submitted && f.budget.errors" class="invalid-feedback">
                        <div *ngIf="budget.errors.required">Budget is required</div>
                      </div>
                      <select class="form-control" style="width: 30%;" id="budget" formControlName="budget1" [ngClass]="{ 'is-invalid': submitted && f.budget1.errors }">
                        <option></option>
                        <option>per hour</option>
                        <option>per month</option>
                        <option>one time pay</option>
                      </select>
                      <div *ngIf="submitted && f.budget1.errors" class="invalid-feedback">
                        <div *ngIf="budget1.errors.required">Select an option(s)</div>
                      </div>
                    </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-2"></div>
                <div class="col-lg-8">
                  <div class="form-group" >
                    <label class="control-label col-sm-2">Upload Document</label>
                    <input type="file" class="form-control hmt-upload" formControlName="document" />
                    
                  </div>
                </div>
              </div>
                   
                   <div class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8">
                   <div class="form-button">
                    <button  style="color: white;"  type="button" class="btn btn-danger btn-lg hmt-next1" mat-button matStepperNext  (click)="onSubmitClick()">Submit My Need</button>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
            </div>
              </form> 
              </div>
            </div>
            </mat-step>
            </mat-horizontal-stepper>
            <!-- form end -->
          </div>
         
        </div>
          
        </div>
    </div>
  </div>
</div>
  
