/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: poppins, "Helvetica Neue", sans-serif; }

.active>.nav-link {
    color: #dc3545;
}

.navbar-light .navbar-nav .nav-link {
    color: #212529;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-horizontal-stepper-header-container{
    width: 70%;
    margin:auto;

}


.mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit {
    background-color:#9b111e;
    color: #fff;
}

