<div class="container-fluid hmt-container3">
    <div id="mycarousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active item1">
          <img src="/assets/images/hmt-image1.png" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h1>Are you finding difficulty with maths and science? Our expert tutors are here to help you.</h1>
            <p>
              <i>Before I began to search for the tutor for my son, I had no clue that Helpmetutors existed.  At last founded an experienced teacher and am satisfied. Helpmetutors is decent place to get assistance. Keep doing awesome.</i>. - Sumit(Student)</p>
          </div>
        </div>
        <div class="carousel-item item2">
          <img src="/assets/images/hmt-image2.png" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h1>We understand that being a parent doesn't get  enough time to help your child with studies ,our private tutor will take care of his studies.</h1>
            <p><i>My son has been associated with Helpmetutors for more than two years now. He finished grade 9th cbse under the guidance of the tutor provided. I am happy to have enrolled here.</i> - Tanuja(parent)</p>
          </div>
        </div>
        <div class="carousel-item item3">
          <img src="/assets/images/hmt-image3.png" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h1>Earn additional income... if you are ready teach part time. We will help you out</h1>
            <p><i>So far my involvement in Helpmetutors has been amazing! The client support staff was very affable and accommodating when I posted an inquiry about making my profile.</i> - Aditi(tutor)</p>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#mycarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#mycarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  
  <div class="container-fluid hmt-container4">
    <div class="row"> <div class="col-md">
      <h1 class="hmt-offer animate__animated animate__rubberBand">What we offer!!</h1>
      <p class="hmt-nelson">We arrange teachers for parents who search for suitable tutors as per their requirement. Alongside, we provide students to school teachers who want to teach tuition during their leisure time.  Apart from this, we guide students in online homework help.</p>
    </div></div>
    <div class="row row-offer">
      <div class="col-md ">
       <div class="card hmt-card">
  <img class="card-img-top" src="/assets/images/hmt-hometuition.jpg"  alt="Home Tuitions" >
  <div class="card-body">
    <h5 class="card-title">Home Tuitions</h5>
    <p class="card-text">Private home tuition help students with personalized one-to-one attention and customised study plan that particularly address their weaker subject areas. The private home tutor will have the capacity to quickly identify the topic or topic during which a student is facing difficulty.</p>
    <!-- <a routerLink="/register" class="btn btn-danger button-offer">Register today</a> -->
  </div>
</div>
      </div>
      <div class="col-md">
       <div class="card hmt-card">
  <img class="card-img-top" src="/assets/images/hmt-onlinetuition.jpg"  alt="Online Tuitions">
  <div class="card-body">
    <h5 class="card-title">Online Tuitions</h5>
    <p class="card-text">Online tutoring is getting more and more popular: it's the right solution once you want to share knowledge and be your own boss at an equivalent time. The demand for online private tuitions is increasing a day because of new technologies. Nowadays, it's possible to earn a living by being a web private tutor.</p>
    <!-- <a routerLink="/register" class="btn btn-danger button-offer">Register today</a> -->
  </div>
</div>
      </div>
      <div class="col-md">
       <div class="card hmt-card">
  <img class="card-img-top" src="/assets/images/hmt-assignhelp.jpg"  alt="Assignment Help">
  <div class="card-body">
    <h5 class="card-title">Assignment Help</h5>
    <p class="card-text">We help students with their various task writing related projects and queries. Connect with an assignment tutor online and obtain a prompt response for your query. Avail written help service to urge writing assistance and obtain detailed instructions from our expert assignment helpers, to assist you understand better.</p>
    <!-- <a routerLink="/register" class="btn btn-danger button-offer">Register today</a> -->
  </div>
</div>
      </div>
    </div>
 
  </div>

<!-- courses -->
   <div class="container"><div class="row"> <div class="col-md">
    <h1 class="hmt-offer animate__animated animate__rubberBand">Courses categories</h1>
    <p class="hmt-nelson">“Education is the most dominant weapon which you can use to change the world.”
      Nelson Mandela</p>
  </div></div></div>

  <!-- courses nav bar -->
 

  <div class="container-fluid">
    <ul class="nav nav-tabs nav-fill " id="myTab" role="tablist">
    <li class="nav-item"> 
  <a class="nav-link active" id="nav-academic-tab" data-toggle="tab" href="#nav-academic" role="tab" aria-controls="nav-academic" aria-selected="true">Academic</a></li>
  <li class="nav-item">
  <a class="nav-link" id="nav-competitive-tab" data-toggle="tab" href="#nav-competitive" role="tab" aria-controls="nav-competitive" aria-selected="false">Competitive</a></li>
  <li class="nav-item">
  <a class="nav-link" id="nav-programming-tab" data-toggle="tab" href="#nav-programming" role="tab" aria-controls="nav-programming" aria-selected="false">Programming</a></li>
  <li class="nav-item">
    <a class="nav-link"id="languages-tab" data-toggle="tab" href="#nav-languages" role="tab" aria-controls="languages" aria-selected="false">Languages</a>
  </li>
  <li class="nav-item">
    <a class="nav-link"id="hobbies-tab" data-toggle="tab" href="#nav-hobbies" role="tab" aria-controls="hobbies" aria-selected="false">hobbies</a>
  </li>
  <li class="nav-item">
    <a class="nav-link"id="other-tab" data-toggle="tab" href="#nav-other" role="tab" aria-controls="other" aria-selected="false">Others</a>
  </li>
</ul>

<div class="tab-content" id="nav-tabContent">
<div class="tab-pane fade show active" id="nav-academic" role="tabpanel" aria-labelledby="nav-academic-tab">
    <div class="container-fluid">
    <div class="row">
      <div class="col-md">
        <div class="jumbotron jumbotron-fluid" id="hmt-primary">
    <div class="container">
      <h1 class="display-4">Primary tuitions</h1>
      <!-- <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p> -->
    </div>
  </div>
      </div>
      <div class="col-md">
        <div class="jumbotron jumbotron-fluid" id="hmt-secondary">
    <div class="container">
      <h1 class="display-4">Secondary tuitions</h1>
      <!-- <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p> -->
    </div>
  </div>
      </div>
      <div class="col-md">
        <div class="jumbotron jumbotron-fluid" id="hmt-highersecondary">
    <div class="container">
      <h1 class="display-4">Higher Secondary tuitions</h1>
      <!-- <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p> -->
    </div>
  </div>
      </div>
    </div>
  
 
    <div class="row">
      <div class="col-md">
        <div class="jumbotron jumbotron-fluid" id="hmt-undergraduate">
    <div class="container">
      <h1 class="display-4">Under-Graduate tuitions</h1>
      <!-- <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p> -->
    </div>
  </div>
      </div>
      <div class="col-md">
        <div class="jumbotron jumbotron-fluid" id="hmt-postgraduate">
    <div class="container">
      <h1 class="display-4">Post-Graduate tuitions</h1>
      <!-- <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p> -->
    </div>
  </div>
      </div>
      <div class="col-md">
        <div class="jumbotron jumbotron-fluid" id="hmt-viewall">
    <div class="container">
      <h1 class="display-4">View all</h1>
      <!-- <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p> -->
    </div>
  </div>
      </div>
    </div>
  </div></div>

  <div class="tab-pane fade" id="nav-competitive" role="tabpanel" aria-labelledby="nav-competitive-tab">
    <div class="container-fluid">
        <div class="row">
          <div class="col-md ">
            <div class="jumbotron jumbotron-fluid hmt-competitive" >
        <div class="container ">
          <h1 class="display-4 ">IIT JEE MAIN & ADVANCED/ AIEEE</h1>
          
        </div>
      </div>
          </div>
          <div class="col-md">
            <div class="jumbotron jumbotron-fluid hmt-competitive">
        <div class="container">
          <h1 class="display-4">NEET/ AIIMS/ JIPMER/ IPU CET</h1>
          
        </div>
      </div>
          </div>
          <div class="col-md">
            <div class="jumbotron jumbotron-fluid hmt-competitive">
        <div class="container">
          <h1 class="display-4">CS / CA / ICWA / MBA / CAT</h1>
          
        </div>
      </div>
          </div>
        </div>
      
     
        <div class="row">
          <div class="col-md">
            <div class="jumbotron jumbotron-fluid hmt-competitive">
        <div class="container">
          <h1 class="display-4">GRE / GMAT / TOEFL / IELTS</h1>
          
        </div>
      </div>
          </div>
          <div class="col-md">
            <div class="jumbotron jumbotron-fluid hmt-competitive">
        <div class="container">
          <h1 class="display-4">BANKING</h1>
          
        </div>
      </div>
          </div>
          <div class="col-md">
            <div class="jumbotron jumbotron-fluid hmt-viewall">
        <div class="container">
          <h1 class="display-4">View all</h1>
          
        </div>
      </div>
          </div>
        </div>
      </div></div>

  <div class="tab-pane fade" id="nav-programming" role="tabpanel" aria-labelledby="nav-programming-tab">
    <div class="container-fluid">
        <div class="row">
          <div class="col-md ">
            <div class="jumbotron jumbotron-fluid hmt-coding" >
        <div class="container ">
          <h1 class="display-4 ">C C++, Java</h1>
          
        </div>
      </div>
          </div>
          <div class="col-md">
            <div class="jumbotron jumbotron-fluid hmt-coding">
        <div class="container">
          <h1 class="display-4">Python</h1>
          
        </div>
      </div>
          </div>
          <div class="col-md">
            <div class="jumbotron jumbotron-fluid hmt-coding">
        <div class="container">
          <h1 class="display-4">Linux, Aws, Azure</h1>
          
        </div>
      </div>
          </div>
        </div>
      
     
        <div class="row">
          <div class="col-md">
            <div class="jumbotron jumbotron-fluid hmt-coding">
        <div class="container">
          <h1 class="display-4">Mean Stack</h1>
          
        </div>
      </div>
          </div>
          <div class="col-md">
            <div class="jumbotron jumbotron-fluid hmt-coding">
        <div class="container">
          <h1 class="display-4">Ethical Hacking</h1>
          
        </div>
      </div>
          </div>
          <div class="col-md">
            <div class="jumbotron jumbotron-fluid hmt-viewall">
        <div class="container">
          <h1 class="display-4">View all</h1>
          
        </div>
      </div>
          </div>
        </div>
      </div></div>

  <div class="tab-pane fade" id="nav-languages" role="tabpanel" aria-labelledby="nav-languages-tab">
        <div class="container-fluid">
        <div class="row">
          <div class="col-md">
            <div class="jumbotron jumbotron-fluid hmt-language">
        <div class="container">
          <h1 class="display-4">Spoken English</h1>
          <!-- <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p> -->
        </div>
      </div>
          </div>
          <div class="col-md">
            <div class="jumbotron jumbotron-fluid hmt-language" >
        <div class="container">
          <h1 class="display-4">Spoken Hindi</h1>
          <!-- <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p> -->
        </div>
      </div>
          </div>
          <div class="col-md">
            <div class="jumbotron jumbotron-fluid hmt-language">
        <div class="container">
          <h1 class="display-4">French</h1>
          <!-- <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p> -->
        </div>
      </div>
          </div>
        </div>
      
     
        <div class="row">
          <div class="col-md">
            <div class="jumbotron jumbotron-fluid hmt-language">
        <div class="container">
          <h1 class="display-4">German</h1>
          <!-- <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p> -->
        </div>
      </div>
          </div>
          <div class="col-md">
            <div class="jumbotron jumbotron-fluid hmt-language">
        <div class="container">
          <h1 class="display-4">Italian</h1>
          <!-- <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p> -->
        </div>
      </div>
          </div>
          <div class="col-md">
            <div class="jumbotron jumbotron-fluid hmt-viewall">
        <div class="container">
          <h1 class="display-4">View all</h1>
          <!-- <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p> -->
        </div>
      </div>
          </div>
        </div>
      </div></div>


  
      <div class="tab-pane fade" id="nav-hobbies" role="tabpanel" aria-labelledby="nav-hobbies-tab">
        <div class="container-fluid">
        <div class="row">
          <div class="col-md">
            <div class="jumbotron jumbotron-fluid hmt-art">
        <div class="container">
          <h1 class="display-4">Art /Craft</h1>
          <!-- <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p> -->
        </div>
      </div>
          </div>
          <div class="col-md">
            <div class="jumbotron jumbotron-fluid hmt-dance">
        <div class="container">
          <h1 class="display-4">Dance</h1>
          <!-- <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p> -->
        </div>
      </div>
          </div>
          <div class="col-md">
            <div class="jumbotron jumbotron-fluid hmt-sing">
        <div class="container">
          <h1 class="display-4">Singing</h1>
          <!-- <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p> -->
        </div>
      </div>
          </div>
        </div>
      
     
        <div class="row">
          <div class="col-md">
            <div class="jumbotron jumbotron-fluid hmt-music">
        <div class="container">
          <h1 class="display-4">Playing Musical Instrument</h1>
          <!-- <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p> -->
        </div>
      </div>
          </div>
          <div class="col-md">
            <div class="jumbotron jumbotron-fluid hmt-draw">
        <div class="container">
          <h1 class="display-4">Painting</h1>
          <!-- <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p> -->
        </div>
      </div>
          </div>
          <div class="col-md">
            <div class="jumbotron jumbotron-fluid hmt-viewall">
        <div class="container">
          <h1 class="display-4">View all</h1>
          <!-- <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p> -->
        </div>
      </div>
          </div>
        </div>
      </div></div>

      <div class="tab-pane fade" id="nav-other" role="tabpanel" aria-labelledby="nav-other-tab">
        <div class="container-fluid">
        <div class="row">
          <div class="col-md">
            <div class="jumbotron jumbotron-fluid hmt-other">
        <div class="container">
          <h1 class="display-4">Digital Marketing</h1>
          <!-- <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p> -->
        </div>
      </div>
          </div>
          <div class="col-md">
            <div class="jumbotron jumbotron-fluid hmt-other">
        <div class="container">
          <h1 class="display-4">Career Development</h1>
          <!-- <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p> -->
        </div>
      </div>
          </div>
          <div class="col-md">
            <div class="jumbotron jumbotron-fluid hmt-other" >
        <div class="container">
          <h1 class="display-4">Special Education</h1>
          <!-- <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p> -->
        </div>
      </div>
          </div>
        </div>
      
     
        <div class="row">
          <div class="col-md">
            <div class="jumbotron jumbotron-fluid hmt-other" >
        <div class="container">
          <h1 class="display-4">Time Management</h1>
          <!-- <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p> -->
        </div>
      </div>
          </div>
          <div class="col-md">
            <div class="jumbotron jumbotron-fluid hmt-other" >
        <div class="container">
          <h1 class="display-4">Kids Activities</h1>
          <!-- <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p> -->
        </div>
      </div>
          </div>
          <div class="col-md">
            <div class="jumbotron jumbotron-fluid hmt-viewall">
        <div class="container">
          <h1 class="display-4">View all</h1>
          <!-- <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p> -->
        </div>
      </div>
          </div>
        </div>
      </div></div>
</div>

</div>

  
  <!-- end of courses nav bar -->
<!-- owl carousel testimonial start-->
<div class="container hmt-testi">
          <h1 style="text-align: center; margin-top: 20px;" class="hmt-customer animate__animated animate__rubberBand">Check what our customers are saying</h1>
    <div class="owl-carousel owl-theme">
      <div class="item card">
                   <!-- testi one -->
          <div class=" card-body testi">
             <div class="card-image-top image-area">
              <img class="img-angular" src="/assets/images/hmt-testi1.png" class="card-img">
             </div>
             <div class="image-text">
               <h2 style="text-align: center;">Tanuja</h2>
               <div style="text-align: center;">
                 <i class="fa fa-star"></i>
                 <i class="fa fa-star"></i>
                 <i class="fa fa-star"></i>
                 <i class="fa fa-star"></i>
               </div>
               <p class="card-text">"Helpmetutors has helped me to find the best tutor for my kid. This is indeed a wonderful platform. I am quite happy with the services"</p>
             </div>





          </div>
                  <!-- testi one -->
      </div>
      <div class="item card">                   <!-- testi one -->
          <div class="testi">
             <div class="image-area">
              <img class="img-testi" src="/assets/images/hmt-testi2.png" class="card-img">
             </div>
             <div class="image-text">
               <h2 style="text-align: center;">Sameer</h2>
               <div style="text-align: center;">
                 <i class="fa fa-star"></i>
                 <i class="fa fa-star"></i>
                 <i class="fa fa-star"></i>
                 <i class="fa fa-star"></i>
               </div>
               <p>"Undoubtedly, I am very glad with helpmetutors services. This was the second time I have used it for my both the kids and we are very happy with both the teachers"</p>
             </div>





          </div>
                  <!-- testi one --></div>
      <div class="item card">                   <!-- testi one -->
          <div class="testi">
             <div class="image-area">
              <img class="img-angular" src="/assets/images/hmt-testi3.png" class="card-img">
             </div>
             <div class="image-text">
               <h2 style="text-align: center;">Tanuja</h2>
               <p>
                 <i class="fa fa-star"></i>
                 <i class="fa fa-star"></i>
                 <i class="fa fa-star"></i>
                 <i class="fa fa-star"></i>
               </p>
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, excepturi ipsam numquam eaque saepe eligendi tempora. Aliquid explicabo maiores provident?</p>
             </div>





          </div>
                  <!-- testi one --></div>
      <div class="item card">                   <!-- testi one -->
          <div class="testi">
             <div class="image-area">
              <img class="img-angular" src="/assets/images/hmt-testi4.png" class="card-img">
             </div>
             <div class="image-text">
               <h2 style="text-align: center;">Tanuja</h2>
               
               <p>
                 <i class="fa fa-star"></i>
                 <i class="fa fa-star"></i>
                 <i class="fa fa-star"></i>
                 <i class="fa fa-star"></i>
               </p>
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, excepturi ipsam numquam eaque saepe eligendi tempora. Aliquid explicabo maiores provident?</p>
             </div>





          </div>
                  <!-- testi one --></div>
      <div class="item card">                   <!-- testi one -->
          <div class="testi">
             <div class="image-area">
              <img class="img-angular" src="/assets/images/hmt-testi1.png" class="card-img">
             </div>
             <div class="image-text">
               <h2 style="text-align: center;">Tanuja</h2>
               <p>
                 <span class="fa fa-star checked"></span>
                 <span class="fa fa-star checked"></span>
                 <span class="fa fa-star checked"></span>
                 <span class="fa fa-star checked"></span>
                 <span class="fa fa-star"></span>
                </p>
              
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, excepturi ipsam numquam eaque saepe eligendi tempora. Aliquid explicabo maiores provident?</p>
             </div>





          </div>
                  <!-- testi one --></div>
      <div class="item card">                   <!-- testi one -->
          <div class="testi">
             <div class="image-area">
              <img class="img-angular" src="/assets/images/hmt-testi2.png" class="card-img">
             </div>
             <div class="image-text">
               <h2 style="text-align: center;">Tanuja</h2>
             
               <p>
                 <i class="fa fa-star"></i>
                 <i class="fa fa-star"></i>
                 <i class="fa fa-star"></i>
                 <i class="fa fa-star"></i>
               </p>
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, excepturi ipsam numquam eaque saepe eligendi tempora. Aliquid explicabo maiores provident?</p>
             </div>





          </div>
                  <!-- testi one --></div>
      <div class="item card">                   <!-- testi one -->
          <div class="testi">
             <div class="image-area">
              <img class="img-angular" src="/assets/images/hmt-testi3.png" class="card-img">
             </div>
             <div class="image-text">
               <h2 style="text-align: center;">Tanuja</h2>
             
               <p>
                 <i class="fa fa-star"></i>
                 <i class="fa fa-star"></i>
                 <i class="fa fa-star"></i>
                 <i class="fa fa-star"></i>
               </p>
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, excepturi ipsam numquam eaque saepe eligendi tempora. Aliquid explicabo maiores provident?</p>
             </div>





          </div>
                  <!-- testi one --></div>
      <div class="item card">                   <!-- testi one -->
          <div class="testi">
             <div class="image-area">
              <img class="img-angular" src="/assets/images/hmt-testi4.png" class="card-img">
             </div>
             <div class="image-text">
               <h2 style="text-align: center;">Tanuja</h2>
               
               <p class="rating">
                 <i class="fa fa-star "></i>
                 <i class="fa fa-star "></i>
                 <i class="fa fa-star"></i>
                 <i class="fa fa-star"></i>
               </p>
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, excepturi ipsam numquam eaque saepe eligendi tempora. Aliquid explicabo maiores provident?</p>
             </div>





          </div>
                  <!-- testi one --></div>
     
  </div>
</div>

<!-- owl carousel testimonial end -->

<div class="container-fluid">
  <div class="row">
      <div class="col-md-6 hmt-tutor">
        <div class="jumbotron jumbotron-fluid jumbo hmt-tutor">
          <h1 class="display-4 hmt-join">Join as tutor</h1>
          <p class="lead hmt-tutordesc">Are you looking for part time home/online teacher jobs? Register your tutoring details below FREELY to find suitable.</p>
          
          <a class="btn btn-default btn-lg" (click)="onButtonTeacherClick()" role="button"><i class="fas fa-chalkboard-teacher">&nbsp;Register today</i></a>
        </div>
      </div>
      <div class="col-md-6">  <img class="img-tutor" src="/assets/images/hmt-tutor1.png" class="card-img-top" alt="..."></div>
  </div>
  <div class="row"> 
    <div class="col-md-6 hmt-parent"><img src="/assets/images/hmt-parent.png" class="card-img-top" alt="..."></div>
    <div class="col-md-6 hmt-parent1">
      <div class="jumbotron jumbotron-fluid jumbo hmt-parent">
        <h1 class="display-4 hmt-trail">Book trail class</h1>
        <p class="lead hmt-parentdesc">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        
        <a class="btn btn-primary btn-lg" (click)="onButtonParentClick()" role="button"><i class="fas fa-mouse">&nbsp;Click here</i></a>
      </div>
    </div>
</div>
</div>


<!-- contact us -->
<div class="jumbotron" style="background-color: white;">
<div class="container-fluid text-center text-lg-left">
  <div class="row">
    <div class="col-lg-8">
      <h1 class="lead">GOT A QUESTION?</h1>
<h2 class="lead">We’re here to help and answer any question you might have. We look forward to hearing from you 🙂</h2>
    <span class="text-center d-inline-block">
      <a class="btn btn-default btn-lg w-100" (click)="onButtonContactClick()" role="button"><i class="fas fa-mobile-alt">&nbsp;Contact us</i></a>
    </span>
    
  </div>
  <div class="col-lg-4 align-items-center d-flex">
    <img class="img-angular" src="/assets/images/hmt-contact1.png" class="card-img">
  </div>
     
  </div>
 
</div>

</div>



