<!-- <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Register</li>
    </ol>
  </nav> -->

<div class="container px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto">
    <div class="card card0 border-0">
        <div class="row d-flex">
            <div class="col-lg-6">
                <div class="card1 pb-5">
                    <!-- <div class="row"> <img src="/assets/images/helpmetutors-logo.png" class="logo"> </div> -->
                     
                    <div class="row px-3 justify-content-center mt-4 mb-5 border-line">
                        <h1>Welcome to Helpmetutors!!</h1></div>
                        <div class="row px-3 mt-4 mb-5 border-line   hmt-desc">
                            <h3><i class="fas fa-angle-double-right">

                                In Brief:</i></h3><br><p class="text-1">
                                Helpmetutors is the teaching website, which offers services like home tuitions, online tuitions and homework help. We have well experienced home tutors and online teachers registered.
                                
                                </p>
                         
                        
                                <h3><i class="fas fa-angle-double-right">What we do:</i></h3><br><p class="text-2">
                                    We arrange teachers for parents who search for suitable tutors as per their requirement. Alongside, we provide students to school teachers who want to teach tuition during their leisure time.  Apart from this, we guide students in online homework help.
                                    
                                    </p>
                                
                                </div>

                   
                   

                </div>
                    
            </div>
            <div class="col-lg-6">
                <div class="card2 card border-0 px-4 py-5">
                    <div class="row mb-4 px-3">
                        <h1 class="mb-0 mr-4 mt-2 hmt-take">Take me to the</h1>
                        
                        
                    </div>
                    
                    <div class="row mb-3 px-3"> <button type="submit" class="btn btn-blue text-center btn-parent"   (click)="onButtonParentClick()"><i class="fas fa-user-circle">

                        Parent Registration</i></button> </div>
                   
                    
                    <div class="row mb-3 px-3"> <button type="submit" class="btn btn-blue text-center btn-teacher" (click)="onButtonTeacherClick()"><i class="fas fa-chalkboard-teacher">

                        Teacher Registration</i></button> </div>
                    <div class="row mb-4 px-3"> <small class="font-weight-bold hmt-already">Already registered? <a class="text-danger btn btn-white text-center btn-login" routerLink="/login" ><i class="fas fa-sign-in-alt">

                        Login</i></a></small> </div>
                    
                </div>
            </div>
        </div>
        <!-- <div class="bg-blue py-4">
            <div class="row px-3"> <small class="ml-4 ml-sm-5 mb-2">Follow us on social media</small>
                <div class="social-contact ml-4 ml-sm-auto"> <span class="fa fa-facebook mr-4 text-sm"></span> <span class="fa fa-google-plus mr-4 text-sm"></span> <span class="fa fa-linkedin mr-4 text-sm"></span> <span class="fa fa-twitter mr-4 mr-sm-5 text-sm"></span> </div>
            </div>
        </div> -->
    </div>
</div>
