body {
    color: #000;
    overflow-x: hidden;
    height: 100%;
    background-color: #B0BEC5;
    background-repeat: no-repeat
}

.card0 {
    box-shadow: 0px 4px 8px 0px #757575;
    border-radius: 0px
}

.card2 {
    margin: 22px 40px
}





.border-line {
    border-right: 1px solid #EEEEEE
}



.line {
    height: 1px;
    width: 45%;
    background-color: #E0E0E0;
    margin-top: 10px
}

.or {
    width: 10%;
    font-weight: bold
}

.text-sm {
    font-size: 14px !important
}

::placeholder {
    color: #BDBDBD;
    opacity: 1;
    font-weight: 300
}

:-ms-input-placeholder {
    color: #BDBDBD;
    font-weight: 300
}

::-ms-input-placeholder {
    color: #BDBDBD;
    font-weight: 300
}

input,
textarea {
    padding: 10px 12px 10px 12px;
    border: 1px solid lightgrey;
    border-radius: 2px;
    margin-bottom: 5px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    color: #25274d;
    font-size: 14px;
    letter-spacing: 1px
}

input:focus,
textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #25274d;
    outline-width: 0
}

button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0
}

a {
    color: inherit;
    cursor: pointer
}


.fa-user-circle{
    font-size: 18px;;
}

.btn-blue {
    background-color:#9b111e;
    width: 70%;
    color: #fff;
    border-radius: 30px;
    font-size: 18px;
}

.btn-blue:hover {
    background-color: grey;
    cursor: pointer
}





@media screen and (max-width: 991px) {
    .logo {
        margin-left: 0px
    }

    .image {
        width: 300px;
        height: 220px
    }

    .border-line {
        border-right: none
    }

    .card2 {
        border-top: 1px solid #EEEEEE !important;
        margin: 0px 15px
    }
}


.px-3 {
    padding-left: 3rem!important;
    padding-right: 5px !important;
}

.mt-2, .mb-4{
    font-size: 18px;
}

.hmt-already{
    text-align: center;
}


.hmt-desc{
    padding-left: 50px;
}


.mb-5, .my-5 {
    margin-bottom: 0rem!important;
}


.hmt-take{
    font-size: 16px;
    margin-left: 20px;
}