<div class="container " style="margin-top: 10px; margin-bottom: 10px;">
    <div class="card">
        <h1 style="margin-top: 10px; text-align: center; color: #9b111e; font-size: x-large; font-weight: 500;">Disclaimer for Helpmetutors</h1>
        <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text">If you require any more information or have any questions about our site's disclaimer, please feel free to contact us by email at helpmetutors123@gmail.com.<br/>
                All the information on this website - https://helpmetutors.com - is published in good faith and for general information purpose only. Helpmetutors does not make any warranties about the completeness, reliability and accuracy of this information. Any action you take upon the information you find on this website (Helpmetutors), is strictly at your own risk. Helpmetutors will not be liable for any losses and/or damages in connection with the use of our website.<br/>
                From our website, you can visit other websites by following hyperlinks to such external sites. While we strive to provide only quality links to useful and ethical websites, we have no control over the content and nature of these sites. These links to other websites do not imply a recommendation for all the content found on these sites. Site owners and content may change without notice and may occur before we have the opportunity to remove a link which may have gone 'bad'.<br/>
                Please be also aware that when you leave our website, other sites may have different privacy policies and terms which are beyond our control. Please be sure to check the Privacy Policies of these sites as well as their "Terms of Service" before engaging in any business or uploading any information. 
             </p>
          </div>
          <div class="card-body">
            <h5 class="card-title">Consent</h5>
            <p class="card-text">By using our website, you hereby consent to our disclaimer and agree to its terms.</p>
               
          </div>
          <div class="card-body">
            <h5 class="card-title">Update</h5>
            <p class="card-text">Should we update, amend or make any changes to this document, those changes will be prominently posted here.</p>
          </div>
          <div class="card-body">
            <h5 class="card-title">Contact Us</h5>
            <p class="card-text">If you have any questions, please contact us by email: info@helpmetutors.com.</p>
          </div>
    </div>
</div>
